.hubCard-one {
    background-image: url("https://formx.stream/assets/img/docs.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left top;
    background-position-x: -1.5rem;
    background-position-y: -1.5rem;
    border-radius: 3px;
}

.hubCard-two {
    background-image: url("https://formx.stream/assets/img/map.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left top;
    background-position-x: -1.5rem;
    background-position-y: -1.5rem;
    border-radius: 3px;
}

.hubCard-three {
    background-image: url("https://formx.stream/assets/img/question.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left top;
    background-position-x: -1.5rem;
    background-position-y: -1.5rem;
    border-radius: 3px;
}