.navbar {
    background-color: #042a2b;
    padding: 16px;
}

.navButton {
    background-color: #ef7b45;
    border: none;
    padding: 10px 24px;
    font-weight: 600;
}

#navbar-toggler-icon {
    border-color: #ffffff;
}

.navButton:hover {
    background-color: #dc3545;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .navButton {
        width: 40%;
    }
}