.footerAbove__container {
    background-color: #042a2b;
    padding: 32px 0px;
}

.footerAbove__row1 > h3 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

.footerAbove__row2 {
    margin-top: 16px;
    padding: 16px 30px;
}

.footerAbove__row2 > input {
    font-size: 20px;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
}

.footerAbove__row2 > Button {
    background-color: #ef7b45;
    color: #ffffff;
    border: none;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 3px;
}

.footerAbove__row2 > Button:hover {
    background-color: #dc3545;
}