.footer__container {
    background-color: #042a2b;
    padding: 48px 0px 32px;
}

.footer__logo {
    width: 120px;
    margin: 10px;
}

.footer__links {
    color: #ffffff;
}

.footer__links:hover {
    color: #5eb1bf;
}