

.footer__container {
    background-color: #042a2b;
    padding: 48px 0px 32px;
}

.footer__div {
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.footer__div > a {
    color: #ffffff;
    padding: 15px;
}

.footer__div > a:hover {
    color: #5eb1bf;
}

.footer__logo {
    width: 120px;
    margin: 10px;
}

@media screen and (min-width: 300px) and (max-width: 880px) {
    .footer__div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
