.brandLogo__container {
    background-color: #f2f2f2;
    padding: 32px 0px;
}

.brandLogo__row1--column > h3 {
    color: #042a2b;
    font-weight: 600;
    font-size: 28px;
}

.brandLogo__row2--column > p {
    color: #666666;
    font-size: 19.2px;
}

.brandLogo__row3 {
    width: 75%;
}

.brandLogo__row3--column {
    margin-bottom: 1rem;
    align-content: center;
}

.brandLogo__image {
    width: 70%;
    object-fit: contain;
    padding: 10px;
    margin: 0 auto;

}

